* {
    margin: 0;
    padding: 0;
}

/* header relater style */
header {
    margin-top: 50px;

}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Banner\ Image.png');
    max-width: 1320px;
    margin: 0 auto;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;

}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-content h1 {
    color: #FFF;
    font-family: Merriweather;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 16px 177px 344px 344px;
}

.header-title {
    margin-top: 120px;
    text-align: center;
}

.header-title h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.header-title h5 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
}

.header-title h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}

.header-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
}

main {
    max-width: 1320px;
    margin: 0 auto;
}

.main-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin-top: 120px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.main-container h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    /* line-height: 88px; */
    /* padding-right: 550px; */
    padding-top: 126px;
    width: 500px;



}

.container-title {
    padding-left: 80px;

}

.main-container p {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    font-family: Inter;
    font-size: 18px;
    margin-top: 24px;

}

.main-container button {
    margin-top: 48px;
    color: #FFF;
    border-radius: 5px;
    border: 0;
    padding: 20px 25px 20px;
    background-color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    gap: 300px;

}

.main-container img {

    padding-top: 70px;
    padding-right: 50px;
}

.section-container {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    margin-top: 120px;
    display: flex;
    /* margin-left: 100px;
    margin-right: 140px; */
    display: block;

}

.section-container h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.section-title {
    padding-top: 100px;
}

.button-style {
    color: #FFF;
    font-weight: 700;
    border: 0;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-top: 40px;
}

.section-container h3 span {
    color: #F00;
}

.first-container {
    margin-top: 150px;
}

.first-container h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.first-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    padding-top: 20px;
}

.first-container h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-top: 16px;
}

.pic-details {
    padding-top: 48px;
}

.pic-details img {

    border-radius: 16px;
    height: 400px;
    width: 400px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.pic-details img:hover {
    border: 2px solid #FFF;
}

.mail-container {
    margin-top: 120PX;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
}

.mail-title {
    text-align: center;
}

.mail-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

.mail-container h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.mail-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 22px;
}

.mail-container button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;

}

.mail-container input {
    background: #FFF;
    width: 336px;
    height: 72px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    border: 0;
}

form {
    padding-top: 48px;

    height: 90px;
}